


html, body {
    height: 100%;
    position: relative;
font-size: 14px;
font-family: "PT Sans", sans-serif;
color:
#2a3c49;
line-height: 1;
margin: 0;
padding: 0;
border: 0;
font: inherit;
box-sizing: border-box;



}

#maket {
width:100%;
margin:0 auto;
min-height: 100%;

}

#header-1 {
    position: relative;
    height: 70px;
    min-width: 960px;
    background: linear-gradient(to bottom, #2578b7, #015797);

}


/*МЕНЮ*/
#menu { /* Левая колонка */
    width:175px;
    float:left;
    text-align: left;
    height: 60vh;
    float: left; /* Обтекание справа */

    padding: 5px; /* Поля вокруг текста */
    margin: 10px 10px 20px 5px; /* Значения отступов */

}
#menu div {
    padding: 2px; /* Поля вокруг ссылок */
}
#menu a {
    color: black;
    display: block; /* Отображать ссылку как блок */

    margin: 1px; /* Отступы вокруг */
    font-size: 0.9em; /* Размер текста */
    text-decoration: none; /* Убираем подчеркивание текста */
}
#menu a:hover {
    background: #59595a; /* Цвет фона */
}



.container {
	position: relative;
    width: 1200px;

    margin: 0 auto;


}

.header-gerb {
    position: absolute;
    left: -240px;
    height: 72px;
    width: 564px;
    overflow: hidden;
}

 .header-gerb__inner {
    position: absolute;
    top: -61px;
    width: 564px;
    height: 327px;
    background: url(../img/gerb-header-bg-0f28853ef2c7e938c30809eee7d6c169fe4ea83f16c9800d4fdc36472744b780.png) no-repeat center center;
    opacity: 0.1;
}
.header-logo {
    position: relative;
    float: left;
    height: 70px;
    z-index: 10;
}


.header-logo__icon {

    float: left;
    margin-right: 20px;

}
.header-logo__info {
    float: left;
    margin-top: 17px;
}

.icon.logo {
    width: 82px;
    height: 49px;
    background: url(../img/icons-1ed3d5b6a39f8384829aa225ef42bd81e3363b31764ca3b5f5b3be5f6ba08bf0.png) -537px -437px no-repeat;
}

.header-logo__info {
    float: left;
    margin-top: 17px;
}

.header-logo__info-title {
    margin-bottom: 1px;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    color: #fff;
    text-shadow: 0 1px 1px rgba(7,72,128,0.15);
}
.header-logo__info-text {
    text-transform: uppercase;
    text-shadow: 0 1px 1px
rgba(7,72,128,0.15);
font-size: 11px;
line-height: 14px;
color:
    #fff;
}

.header-buttons {
    padding-top: 15px;
    float: right;

    color:   #fff;
}



#content_auth {

    height: 70%;

}

#auth {

    margin-top: 5%;
    width: 20%;
    margin-left: 40%;
}



#footer-2 {
    position: relative;
    z-index: 10;
    margin-top: -45px;
    min-width: 960px;
    clear: both;
    height: 45px;
    background: linear-gradient(to bottom, #15619a,
    #005a9d);
    font-size: 12px;
color:
#a8bad3;
line-height: 16px;
}

.col-pad {
    padding-right: 32px;
}
.col-50 {
    float: left;
    width: 50%;
}

.footer-help {
    float: right;
    text-align: right;
}
.footer-help--phone {
    position: relative;
    margin-right: 20px;
    padding-right: 20px;
}

/*.contracts  {
    width: 425px;
    height: 200px;
    margin: 0 30px 30px 0;
    padding: 12px 10px 18px 18px;
    position: relative;
    display: block;
    float: left;
    border: 1px solid
#d5e0ed;
}*/


#rasporka {
height: 60px;
}



.block_for_messages{
    text-align: center;
    margin-left:-200px;

}
.mesage_error{
    color: #cc0000;
}

.success_message{
    color: green;
}


/*--------------------------Слайдер-------------*/


.ui-slider-handle {
text-decoration: none;
background-color: #FFFFFF !important;
background-image: linear-gradient(180deg, transparent, rgba(0, 0,0, 0.08) 80%) !important;
border-radius: 50% 50% 50% 50%;
height: 40px !important;
width: 40px !important;
position: relative;
top:-15px !important;
cursor: pointer;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.ui-slider-handle span {
line-height: 40px;
text-align: center;
height:100%;
width: 100%;
position: absolute;
}
#prev {
width:38px;
height:38px;
display: block;
float:left;
background-image: url(../img/prev.png);
background-repeat: no-repeat;
background-position: center;
background-size: contain;
margin-right:20px;
}
#next {
width:38px;
height:38px;
display: block;
margin-left:230px;
background-image: url(../img/next.png);
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}
.load {
background:url(../img/loading.gif) center no-repeat;
width:200px;
height:200px;
position:absolute;
display:block;
left:50%;
top:50%;
z-index:10;
}
/*----------------------------------------Конец слайдер------------*/








