body {
  color: #3d3d3d;
  /* font-family: OSCB; */
  font-size: 13pt;
  margin: 0;
  padding: 0;
}
a:hover {
  text-decoration: none;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
.container {
  max-width: 1400px;
}
/* Оформление шапки */
.logout {
  text-align: right;
}
.logout a {
  color: #000;
}
h1 {
  text-align: center;
}
/* Оформление Таблицы */
table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}
table {
  margin-top: 1rem;
}
table td,
table th {
  border: 1px solid #000;
}
.popup-add,
.popup-select,
.popup-change {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-add-subbtn,
.popup-select-subbtn,
.popup-change-subbtn {
  text-align: center;
  margin-top: 1rem;
}
.popup-add-msg,
.popup-select-msg,
.popup-change-msg {
  text-align: center;
  margin-top: 1rem;
  height: 10px;
}
.popup-add-msg .gifload,
.popup-select-msg .gifload,
.popup-change-msg .gifload {
  margin: auto;
  width: 50px;
  height: 50px;
  background: url(/assets/img/load.gif) center center no-repeat;
  background-size: cover;
}
.popup-content {
  position: fixed;
  text-align: left;
  left: 50%;
  top: 10%;
  background-color: #ffffff;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 4rem 6rem;
}
.popup-content label {
  width: 38%;
  left: 50%;
  text-align: left;
}
.popup-form {
  margin-top: 3rem;
  padding: 0;
}
.popup-close {
  position: absolute;
  top: -1.5rem;
  right: -2rem;
  width: 2rem;
  border: none;
  background-color: transparent;
  font-size: 3rem;
  color: #ffffff;
}
.popup-header {
  font-family: "ProximaNova_bolt", sans-serif;
  text-align: center;
}
.addform {
  width: 500px;
}
.error {
  border-bottom: 2px solid #ff4332;
}
.none {
  display: none;
}
input {
  width: 60%;
  border: unset;
  border-bottom: 2px solid #e3e3e3;
  outline: none;
}
.input-min {
  width: 27%;
  font-size: 12pt;
}
.select-color {
  background-color: #e3a103;
}
